---
layout: archive
title: "Certifications"
permalink: /talks/
author_profile: true
---

<h3>Deep Learning and Computer Vision A-Z</h3>
<!-- Link to certificate -->
<a href="https://www.udemy.com/certificate/UC-0dc01e12-4b3e-4c84-830e-7ff26b660695/" target="_blank">View Certificate</a>

<h2>Getting Started with Deep Learning</h2>
<!-- Link to certificate -->
<a href="https://courses.nvidia.com/certificates/b3eefdd7d92f46bebac744a5162e1f3c/" target="_blank">View Certificate</a>

<h2>Python for Data Science and Machine Learning</h2>
<!-- Link to certificate -->
<a href="https://www.udemy.com/certificate/UC-43d04a1d-21aa-4664-9763-89ee8b08167c/" target="_blank">View Certificate</a>

<!-- {% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %} -->

<!-- {% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %} -->


