---
layout: archive
title: "Certifications"
permalink: /talks/
author_profile: true
---

<h3>Deep Learning and Computer Vision A-Z</h3>
<!-- Link to certificate -->
<a href="https://www.udemy.com/certificate/UC-0dc01e12-4b3e-4c84-830e-7ff26b660695/" target="_blank">View Certificate</a>

<h3>Getting Started with Deep Learning</h3>
<!-- Link to certificate -->
<a href="https://courses.nvidia.com/certificates/b3eefdd7d92f46bebac744a5162e1f3c/" target="_blank">View Certificate</a>

<h3>Python for Data Science and Machine Learning</h3>
<!-- Link to certificate -->
<a href="https://www.udemy.com/certificate/UC-43d04a1d-21aa-4664-9763-89ee8b08167c/" target="_blank">View Certificate</a>

<h3>Data Structures and Algorithms - Python</h3>
<!-- Link to certificate -->
<a href="https://github.com/devadharshini97/devadharshini.github.io/assets/41442650/84c70461-4e24-4413-9110-595fadc76fc3" target="_blank">View Certificate</a>

<h3>C++ and Java</h3>
<!-- Link to certificate -->
<a href="https://github.com/devadharshini97/devadharshini.github.io/assets/41442650/660bb954-b292-4efd-8356-60139107c1fb" target="_blank">View Certificate</a>

<h3>ISTQB - Foundation Level Certificate in Software Testing</h3>
<!-- Link to certificate -->
<a href="https://github.com/devadharshini97/devadharshini.github.io/assets/41442650/c9ade3a7-69c4-46bb-99ea-fbde51c5fe34" target="_blank">View Certificate</a>

<h3>Embedded Systems</h3>
<!-- Link to certificate -->
<a href="https://github.com/devadharshini97/devadharshini.github.io/assets/41442650/c9ade3a7-69c4-46bb-99ea-fbde51c5fe34" target="_blank">View Certificate</a>

<!-- {% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %} -->

<!-- {% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %} -->


