---
layout: archive
title: "Experience"
permalink: /teaching/
author_profile: true
---

<section>
    <h2>Research Assistant (3D Computer Vision)</h2>
    <p><strong>ARoS Lab - NC State University</strong></p>
    <p><strong>April 2023 - Present</strong></p>
    <p>Participated in collaborative research focused on pioneering deep learning-driven algorithms, integrating concepts from structure-from-motion, Neural Radiance Fields (NeRF), and bundle adjustment. Utilized tools such as COLMAP and NeRFStudio to reconstruct three-dimensional objects with a perspective geometry. Accomplished the creation of high-fidelity point clouds from 2D plant images, facilitating the precise extraction of intricate structural parameters. Emphasized the utilization of synthetic images from Unreal Engine to advance plant phenotyping. Demonstrated successful execution of NeRF technology for the three-dimensional reconstruction of microscopic images of foraminifera. Currently engaged in further advancing 3D reconstructions by optimizing camera parameters independent of COLMAP and minimizing photometric errors, aiming for superior reconstruction outcomes.</p>
  </section>

  <section>
    <h2>Another Position</h2>
    <p><strong>Date Range</strong></p>
    <p><strong>Company Name, Location</strong></p>

    <p>Description of your responsibilities and achievements in this position.</p>
</section>


<!-- {% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->
