---
layout: archive
title: "Experience"
permalink: /teaching/
author_profile: true
---

<section>
    <h2>Research Assistant (3D Computer Vision)</h2>
    <p><strong>ARoS Lab - NC State University</strong></p>
    <p><strong>April 2023 - Present</strong></p>
    <p>Participated in collaborative research focused on pioneering deep learning-driven algorithms, integrating concepts from structure-from-motion, Neural Radiance Fields (NeRF), and bundle adjustment. Utilized tools such as COLMAP and NeRFStudio to reconstruct three-dimensional objects with a perspective geometry. Accomplished the creation of high-fidelity point clouds from 2D plant images, facilitating the precise extraction of intricate structural parameters. Emphasized the utilization of synthetic images from Unreal Engine to advance plant phenotyping. Demonstrated successful execution of NeRF technology for the three-dimensional reconstruction of microscopic images of foraminifera. Currently engaged in further advancing 3D reconstructions by optimizing camera parameters independent of COLMAP and minimizing photometric errors, aiming for superior reconstruction outcomes.</p>
</section>
<section>
    <h2>Graduate Lab Assistant</h2>
    <p><strong>EcoPRT Lab – NC State University</strong></p>
    <p><strong>August 2023 - December 2023</strong></p>
    <p>Implemented the utilization of 3D MMDetection and PointNet++ to significantly enhance the progress of an autonomous campus vehicle project. This involved strengthening the capabilities for robust detection and classification tasks through the integration of Stereo and Lidar data, particularly for Vehicle-to-Everything (V2X) applications. Executed multiple V2X models, including f-cooper, v2vnet, cobevt, where2comm, and v2x-vit, across diverse datasets such as v2xset and opv2v. Additionally, experimented with the application of TensorRT for optimizing certain aspects of the models.</p>
</section>
<section>
    <h2>Machine Learning Intern</h2>
    <p><strong>USDA ARS Western Regional Research Center, Albany, CA</strong></p>
    <p><strong>May 2023 - July 2023</strong></p>
    <p>Utilized Langchain and Large Language Models (LLMs) to streamline the database structure, improving data accessibility and insights within the pan-genome database dashboard designed for wheat, barley, rye, and oat crops. Developed the dashboard using Drupal and PostgreSQL, implementing robust solutions for efficient data management. Employed machine learning/artificial intelligence techniques to analyze genome signals, enhancing the database's querying capabilities. This contribution led to a more profound understanding and interpretation of genomic data, thereby advancing the overall functionality of the pan-genome database.</p>
</section>
<section>
    <h2>Graduate Teaching Assistant</h2>
    <p><strong>ECE Dept - NC State University</strong></p>
    <p><strong>Jan 2023 – May 2023</strong></p>
    <p>Collaborated with Dr. Wong in the capacity of a teaching assistant for ECE 301 Signal Processing, undertaking various responsibilities such as crafting assignments, exams, and facilitating discussions. Additionally, assumed the role of conducting Friday discussion sessions for undergraduate students and held biweekly TA hours to provide assistance in clarifying any doubts the students may have encountered in the course material.</p>
</section>
<section>
    <h2>Software Engineer</h2>
    <p><strong>Robert Bosch, Coimbatore, India</strong></p>
    <p><strong>Sept 2019 – July 2022</strong></p>
    <ul>
        <li>Engineered automated software analyzer processes, boosting efficiency by 30% through streamlined integration.</li>
        <li>Managed the developmental and testing phases of powertrain embedded software functional components for 12V 
gasoline systems to ensure robust software quality. Fostered seamless cross-team collaboration for timely deliverables.</li>
        <li>Integrated intricate software modules and executed comprehensive pre-delivery checks for Daimler ECUs and 
proficiently conducted System level Tests in HIL LABCARs, affirming software robustness and performance. </li>
        <li>Led the onboarding of freshers into the SDLC, CI/CD practices and coordinated cross-functional knowledge sharing.</li>
    </ul>
</section>
<!-- {% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->
