---
layout: archive
title: "Experience"
permalink: /teaching/
author_profile: true
---

<section>
    <h2>Research Assistant (3D Computer Vision)</h2>
    <p><strong>ARoS Lab - NC State University</strong></p>
    <p><strong>April 2023 - Present</strong></p>
    <p>Participated in collaborative research focused on pioneering deep learning-driven algorithms, integrating concepts from structure-from-motion, Neural Radiance Fields (NeRF), and bundle adjustment. Utilized tools such as COLMAP and NeRFStudio to reconstruct three-dimensional objects with a perspective geometry. Accomplished the creation of high-fidelity point clouds from 2D plant images, facilitating the precise extraction of intricate structural parameters. Emphasized the utilization of synthetic images from Unreal Engine to advance plant phenotyping. Demonstrated successful execution of NeRF technology for the three-dimensional reconstruction of microscopic images of foraminifera. Currently engaged in further advancing 3D reconstructions by optimizing camera parameters independent of COLMAP and minimizing photometric errors, aiming for superior reconstruction outcomes.</p>
</section>
<section>
    <h2>Graduate Lab Assistant</h2>
    <p><strong>EcoPRT Lab – NC State University</strong></p>
    <p><strong>August 2023 - December 2023</strong></p>
    <p>Implemented the utilization of 3D MMDetection and PointNet++ to significantly enhance the progress of an autonomous campus vehicle project. This involved strengthening the capabilities for robust detection and classification tasks through the integration of Stereo and Lidar data, particularly for Vehicle-to-Everything (V2X) applications. Executed multiple V2X models, including f-cooper, v2vnet, cobevt, where2comm, and v2x-vit, across diverse datasets such as v2xset and opv2v. Additionally, experimented with the application of TensorRT for optimizing certain aspects of the models.</p>
</section>


<!-- {% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->
